.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 8s linear;
  height: 80px;
}

.App-header {
  background-color: rgba(31, 21, 138, 0.568);
  height: 150px;
  padding: 20px;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, rgba(186, 189, 18, 0.849) 3%,
   rgba(7, 77, 134, 0.904) 100%);
}

.App-title {
  font-size: 3em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
